// ------------- BORDERS -------------

.border-light {
    border-color: var(--light);
}

// ------------- BACKROUNDS -------------

.bg-main {
    background-color: var(--main);
    color: var(--light)
}

// ------------- SVGS -------------

.svg-fill-light svg{
    fill: var(--light);
} 

// ------------- TEXTS -------------

.text-black {
    color: black !important;
}

// ------------- LINKS -------------

.link-text-black:link,  .link-text-black:visited {
    color: black !important;
}

.hover-text-white:hover, .hover-text-white:active {
    color: var(--light) !important;
}