:root {
    --main: #1A1617;
    --blue: #0077b6;
    --middle-blue: #023e8a;
    --light-blue: #0077b6;
    --dark-blue: #03045e;
    --gray: #caf0f8;
    --light-gray: #E8E9ED;
    --dark-gray: #AFB3C0;
    --light1: #FFF;
    --light2: #FFF;
    --light2-transparent: #f2efe4c1;
    --purple: #5E3880;
    --light-purple: #8855B4;
    --light-transparent-purple: #8855b4c1;
    --dark-purple: #341F47;
}

@import './colors.scss',
        './borders.scss',
        './navbar.scss',
        './pages.scss',
        './sizes.scss',
        './display.scss',
        './decorations.scss',
        './molecules.scss',
        './effects.scss',
        './vivi-bg.scss',
        './home.scss',
        './inputs.scss',
        './routeur.scss',
        './admin.scss';


@font-face {
    font-family: 'Durer' ;
    src: url('../assets/fonts/Durer.ttf') format('truetype'),
        url('../assets/fonts/Durer.woff') format('woff');
}

@font-face {
    font-family: 'Bosch';
    src: url('../assets/fonts/Bosch.otf') format('truetype');
}

@font-face {
    font-family: 'Uni';
    src: url('../assets/fonts/UniSansThin.otf') format('truetype');
}

@font-face {
    font-family: 'Adequate' ;
    src: url('../assets/fonts/Adequate-ExtraLight.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Adequate', 'Times New Roman', Times, serif, Helvetica, Arial;
}

html, body {
    background-color: var(--main);
}

.bosch-font {
    font-family: Bosch;
}

.text-light {
    color: var(--light);
}