// ------------- SIZES -------------

$full: 100% !important;
$half: 50% !important;
$one-fourth: 25% !important;
$three-fourth: 75% !important;
$one-third: calc(100% / 3) !important;

$breakpoints: (
    xs: 0, 
    sm: 600px, // mobile landscape, tablet (portrait)
    md: 1024px, // chromebooks, ipad pro (portrait), tablet (landscape)
    lg: 1600px, // most laptops and desktops
    xl: 2048px // 2k and up
);

$container-max-width: (
    xs: 480px, 
    sm: 960px,
    md: 1280px, 
    lg: 1920px,
    xl: 3840px
);

// ------------- MIXINS -------------

// WIDTH
@mixin set-width($size) {
    width: $size;
}

//HEIGHT
@mixin set-height($size) {
    height: $size;
}

// ------------- SMALL -------------

@media (max-width: 600px) {
    .sm-width-full {
        @include set-width($full);
    }

    .sm-height-full {
        @include set-height($full);
    }

    .sm-hidden-h {
        height: 0 !important;
        overflow: hidden;
    }

    .sm-width-auto {
        width: auto;
    }

    .sm-padding-1 {
        padding: 10px;
    }

    .sm-padding-2 {
        padding: 20px;
    }

    .sm-padding-3 {
        padding: 30px;
    }

    .sm-padding-4 {
        padding: 40px;
    }

    .sm-padding-5 {
        padding: 50px;
    }

    .sm-padding-20 {
        padding: 200px;
    }

    .sm-padding-bottom-1 {
        padding-bottom: 10px;
    }

    .sm-padding-bottom-2 {
        padding-bottom: 20px;
    }

    .sm-padding-top-20 {
        padding-top: 200px;
    }

    .sm-padding-top-30 {
        padding-top: 300px;
    }

    .sm-padding-0-10 {
        padding: 0 100px;
    }

    .sm-text-xxl {
        font-size: xx-large;
    }
    
    .sm-text-xl {
        font-size: x-large;
    }
    
    .sm-text-l {
        font-size: large;
    }
}

// ------------- MEDIUM -------------

@media (max-width: 1279px) and (min-width: 601px) {
    .md-width-full {
        @include set-width($full);
    }

    .md-width-half {
        @include set-width($half);
    }

    .md-width-third {
        @include set-width($one-third)
    }

    .md-height-full {
        @include set-height($full)
    }

    .md-height-half {
        @include set-height($half)
    }

    .md-hidden-h {
        height: 0 !important;
        overflow: hidden;
    }

    .md-padding-1 {
        padding: 10px;
    }

    .md-padding-2 {
        padding: 20px;
    }

    .md-padding-3 {
        padding: 30px;
    }

    .md-padding-4 {
        padding: 40px;
    }

    .md-padding-5 {
        padding: 50px;
    }

    .md-padding-10 {
        padding: 100px;
    }

    .md-padding-20 {
        padding: 200px;
    }

    .md-padding-bottom-1 {
        padding-bottom: 10px;
    }

    .md-padding-bottom-2 {
        padding-bottom: 20px;
    }

    .md-padding-top-2 {
        padding-top: 20px;
    }

    .md-padding-top-20 {
        padding-top: 200px;
    }

    .md-padding-top-30 {
        padding-top: 300px;
    }

    .md-padding-0-10 {
        padding: 0 100px;
    }

    .md-title-xxl {
        font-size: 80px;
    }

    .md-title-xl {
        font-size: 60px;
    }

    .md-title-l {
        font-size: 40px;
    }

    .md-text-xxl {
        font-size: xx-large;
    }
    
    .md-text-xl {
        font-size: x-large;
    }
    
    .md-text-l {
        font-size: large;
    }
}

// ------------- LARGE -------------

@media (min-width: 1280px) {
    .lg-width-full {
        @include set-width($full);
    }

    .lg-width-half {
        @include set-width($half)
    }

    .lg-height-full {
        @include set-height($full)
    }
    
    .lg-height-half {
        @include set-height($half)
    }

    .lg-hidden-h {
        height: 0;
        overflow: hidden;
    }

    .lg-title-xxl {
        font-size: 5vw;
    }

    .lg-title-xl {
        font-size: 80px;
    }

    .lg-title-l {
        font-size: 60px;
    }

    .lg-padding-1 {
        padding: 10px;
    }

    .lg-padding-2 {
        padding: 20px;
    }

    .lg-padding-3 {
        padding: 30px;
    }

    .lg-padding-4 {
        padding: 40px;
    }

    .lg-padding-5 {
        padding: 50px;
    }

    .lg-padding-10 {
        padding: 100px;
    }

    .lg-padding-20 {
        padding: 200px;
    }

    .lg-padding-bottom-1 {
        padding-bottom: 10px;
    }

    .lg-padding-bottom-2 {
        padding-bottom: 20px;
    }

    .lg-padding-top-20 {
        padding-top: 200px;
    }

    .lg-padding-top-30 {
        padding-top: 300px;
    }

    .lg-padding-0-10 {
        padding: 0 100px;
    }

    .lg-text-xxl {
        font-size: 2vw;
    }
    
    .lg-text-xl {
        font-size: x-large;
    }
    
    .lg-text-l {
        font-size: large;
    }

    .bg-layer {
        z-index: -1;
    }
}

// ------------- WIDTHS -------------

.width-full {
    @include set-width($full);
}

.width-half {
    @include set-width($half)
}

.width-three-fourth {
    @include set-width($three-fourth)
}

.width-third {
    @include set-width(($one-third))
}

// ------------- HEIGHTS -------------

.hidden-h {
    height: 0;
    overflow: hidden;
}

.height-full {
    @include set-height($full)
}

.height-half {
    @include set-height($half)
}

.vh-full {
    height: 100vh;
}

.vh-half {
    height: 50vh;
}

// ------------- BACKROUNDS -------------

.bg {
    height: 100vh;
    width: 100vw;
    z-index: -5;
}

.bg-layer {
    position: fixed;
    width: 100%;
}

// ------------- PADDINGS -------------

.padding-1 {
    padding: 10px;
}

.padding-2 {
    padding: 20px;
}

.padding-5 {
    padding: 50px;
}

.padding-10 {
    padding: 100px;
}

.padding-20 {
    padding: 200px;
}

.padding-1-2 {
    padding: 10px 20px;
}

.padding-0-5 {
    padding: 0 50px;
}

.padding-0-10 {
    padding: 0 100px;
}

.padding-10-0 {
    padding: 100px 0;
}

.padding-20-10 {
    padding: 200px 100px;
}

.padding-bottom-10 {
    padding-bottom: 100px;
}

.padding-x-3 {
    padding: 0 30px;
}

.padding-x-5 {
    padding: 0 50px;
}

.padding-x-10 {
    padding: 0 100px;
}
.padding-y-3 {
    padding: 30px 0;
}

.padding-y-5 {
    padding: 50px 0;
}

.padding-y-10 {
    padding: 100px 0;
}

.padding-right-20 {
    padding-right: 200px;
}

// ------------- MARGINS -------------

.margin-0 {
    margin: 0px;
}

.margin-1 {
    margin: 10px;
}

.margin-2 {
    margin: 20px;
}

.margin-5 {
    margin: 50px;
}

.margin-left-1 {
    margin-left: 10px;
}

.margin-left-2 {
    margin-left: 20px;
}

.margin-left-5 {
    margin-left: 50px;
}

.margin-bottom-10 {
    margin-bottom: 100px;
}

.margin-0-10 {
    margin: 0 100px;
}

.margin-10-0 {
    margin: 100px 0;
}

.margin-20-10 {
    margin: 200px 100px;
}

.margin-x-3 {
    margin: 0 30px;
}

.margin-x-5 {
    margin: 0 50px;
}

.margin-x-10 {
    margin: 0 100px;
}
.margin-y-3 {
    margin: 30px 0;
}

.margin-y-5 {
    margin: 50px 0;
}

.margin-y-10 {
    margin: 100px 0;
}

// ------------- SVGS -------------

.svg-size-2 svg {
    width: 20px;
    height: 20px;
}

.svg-size-3 svg {
    width: 30px;
    height: 30px;
}

.svg-size-4 svg {
    width: 40px;
    height: 40px;
}

// ------------- TEXTS -------------

.text-xxl {
    font-size: xx-large;
}

.text-xl {
    font-size: x-large;
}

.text-l {
    font-size: large;
}

.text-m {
    font-size:medium;
}

.title {
    padding: 10px;
}

// ------------- RADIUS -------------

.round {
    border-radius: 50%;
}